Repository Jumpi96/helpo, pull requests merged in 2020-04, with the labels that each got.

#457 [RELEASE] Merging master to release v1.0
  collect_logs.sh
  helpo-api/helpo/settings/production.py
  helpo-api/helpo/settings/production_local_base.py
  helpo-mobile/App/Views/Actividades/ConsultarEventos/ConsultarEvento.js
  helpo-mobile/App/Views/Actividades/RegistrarColaboraciones/RegistrarColaboraciones.js
  helpo-mobile/android/app/build.gradle
Labels: release

#465 Feature/docker-n-tweaks: Helpo-api Dockerfile and Readme
  README.md
  deploy_helpo.sh
  helpo-api/Dockerfile
  helpo-api/entrypoint.sh
Labels: api

#470 Feature/git-en-web to Master: Add git to helpo-web docker image
  helpo-web/prod.Dockerfile
Labels: web
