Repository Jumpi96/helpo, pull requests merged in 2020-05, with the labels that each got.

#487 Eliminar usuario + fixes menores
  .github/workflows/helpoapiunits.yml
  helpo-api/.gitignore
  helpo-api/Dockerfile
  helpo-api/actividades/management/commands/populate_db.py
  helpo-api/actividades/views.py
  helpo-api/backup.sh
  helpo-api/common/mixins.py
  helpo-api/cronjobs/backup
  helpo-api/cronjobs/tasks
  helpo-api/db.sqlite3
  helpo-api/helpo/settings/base.py
  helpo-api/helpo/settings/docker.py
  helpo-api/helpo/settings/local_base.py
  helpo-api/helpo/settings/production.py
  helpo-api/helpo/settings/production_local_base.py
  helpo-api/pytest.ini
  helpo-api/requirements.txt
  helpo-api/users/application/__init__.py
  helpo-api/users/application/repositories/__init__.py
  helpo-api/users/application/repositories/users.py
  helpo-api/users/application/use_cases/__init__.py
  helpo-api/users/application/use_cases/remove_user.py
  helpo-api/users/apps.py
  helpo-api/users/domain/entities/__init__.py
  helpo-api/users/domain/entities/user.py
  helpo-api/users/hex_views.py
  helpo-api/users/infrastructure/repositories/__init__.py
  helpo-api/users/infrastructure/repositories/users.py
  helpo-api/users/tests/application/use_cases/conftest.py
  helpo-api/users/tests/application/use_cases/test_remove_user.py
  helpo-api/users/tests/domain/entities/test_user.py
  helpo-api/users/tests/infrastructure/repositories/test_django_orm_users_repository.py
  helpo-api/users/tests/views/conftest.py
  helpo-api/users/tests/views/test_remove_an_user.py
  helpo-api/users/urls.py
  helpo-web/Dockerfile
  helpo-web/src/containers/DefaultLayout/DefaultFooter.js
  helpo-web/src/containers/NoAuthLayout/NoAuthFooter.js
  helpo-web/src/views/Base/Forms/Forms.js
  helpo-web/src/views/Pages/Ajustes/AjustesPage.js
Labels: api, mobile-to-do, web

#490 Close #489: Update email and FB page
  helpo-web/src/containers/NoAuthLayout/NoAuthFooter.js
  helpo-web/src/views/Home/HomeNoAuth.js
Labels: bug, web

#498 Hotfix pre-interview
  helpo-api/actividades/views.py
  helpo-api/recommendations/services.py
  helpo-api/recommendations/views.py
Labels: api, bug

#497 Close #496: Remove Twitter and FB timelines/feeds
  helpo-web/src/views/Home/HomeNoAuth.js
Labels: US, mobile-to-do, web

#502 [v1.1] Feature/480 a master: Termino Helpo v1.1
  helpo-api/assets/favicon2.ico
  helpo-api/templates/cambio-evento-email.html
  helpo-api/templates/cambio-propuesta-email.html
  helpo-api/templates/change-password-email.html
  helpo-api/templates/colaboracion-email.html
  helpo-api/templates/creacion-evento-email.html
  helpo-api/templates/fin-evento-email.html
  helpo-api/templates/full-colaboracion-email.html
  helpo-api/templates/full-participacion-email.html
  helpo-api/templates/inicio-evento-email.html
  helpo-api/templates/mensaje-evento.html
  helpo-api/templates/participacion-email.html
  helpo-api/templates/propuesta.html
  helpo-api/templates/reset-password-email.html
  helpo-api/templates/respuesta-propuesta.html
  helpo-api/templates/verify-email.html
  helpo-api/templates/warning-email.html
  helpo-api/templates/was-full-colaboracion-email.html
  helpo-api/templates/was-full-participacion-email.html
  helpo-web/public/assets/favicon2.png
  helpo-web/public/favicon2.ico
  helpo-web/public/index.html
  helpo-web/public/manifest.json
  helpo-web/src/assets/img/brand/logo.svg
  helpo-web/src/assets/img/brand/logo_principal.svg
  helpo-web/src/assets/img/brand/old_logo.svg
  helpo-web/src/assets/img/brand/old_logo_principal.svg
  helpo-web/src/assets/img/brand/old_sygnet.svg
  helpo-web/src/assets/img/brand/sygnet.svg
  helpo-web/src/assets/img/foto_celular.jpeg
  helpo-web/src/assets/img/foto_celular.jpg
  helpo-web/src/assets/img/home-background-converted.jpg
  helpo-web/src/assets/img/home-background.jpg
  helpo-web/src/assets/img/home-noauth-background-converted.jpg
  helpo-web/src/assets/img/home-noauth-background.jpg
  helpo-web/src/assets/img/organizaciones-converted.jpg
  helpo-web/src/assets/img/organizaciones.jpg
  helpo-web/src/assets/img/voluntario-converted.jpg
  helpo-web/src/assets/img/voluntario.jpg
  helpo-web/src/views/Home/HomeNoAuth.js
  helpo-web/src/views/Pages/ConfirmMail/FailedPresentation.js
  helpo-web/src/views/Pages/ConfirmMail/SuccessPresentation.js
  helpo-web/src/views/Pages/Login/Login.js
  helpo-web/src/views/Pages/Register/Register.js
Labels: mobile-to-do, web

#499 [v1.2] Helpo modo buffer - v. 1.2
  .github/workflows/helpowebunits.yml
  helpo-api/actividades/management/commands/populate_db.py
  helpo-api/actividades/views.py
  helpo-api/reportes/views.py
  helpo-api/users/admin.py
  helpo-api/users/application/repositories/__init__.py
  helpo-api/users/application/repositories/organization_areas.py
  helpo-api/users/application/repositories/skills.py
  helpo-api/users/application/repositories/volunteer_profiles.py
  helpo-api/users/application/use_cases/remove_user.py
  helpo-api/users/application/use_cases/update_volunteer_profile.py
  helpo-api/users/apps.py
  helpo-api/users/domain/entities/__init__.py
  helpo-api/users/domain/entities/organization_area.py
  helpo-api/users/domain/entities/skill.py
  helpo-api/users/domain/entities/user.py
  helpo-api/users/domain/entities/volunteer_profile.py
  helpo-api/users/hex_views.py
  helpo-api/users/infrastructure/repositories/__init__.py
  helpo-api/users/infrastructure/repositories/organization_areas.py
  helpo-api/users/infrastructure/repositories/skills.py
  helpo-api/users/infrastructure/repositories/volunteer_profiles.py
  helpo-api/users/migrations/0020_auto_20200502_1330.py
  helpo-api/users/migrations/0021_auto_20200502_1334.py
  helpo-api/users/migrations/0022_auto_20200502_1409.py
  helpo-api/users/migrations/0023_auto_20200503_1350.py
  helpo-api/users/migrations/0024_auto_20200503_1848.py
  helpo-api/users/migrations/0025_auto_20200508_2126.py
  helpo-api/users/migrations/0026_remove_volunteerprofile_user.py
  helpo-api/users/models.py
  helpo-api/users/serializers.py
  helpo-api/users/tests/application/use_cases/conftest.py
  helpo-api/users/tests/application/use_cases/test_remove_user.py
  helpo-api/users/tests/domain/entities/test_user.py
  helpo-api/users/urls.py
  helpo-api/users/views.py
  helpo-web/src/_navOrganizacion.js
  helpo-web/src/_navVoluntario.js
  helpo-web/src/containers/NoAuthLayout/NoAuthHeader.js
  helpo-web/src/routesNoAuth.js
  helpo-web/src/routesOrganizacion.js
  helpo-web/src/routesVoluntario.js
  helpo-web/src/views/Pages/Register/Register.js
  helpo-web/src/views/Perfiles/ConsultarPerfilGenerico.js
  helpo-web/src/views/Perfiles/PerfilOrganizacion/ConsultarPerfilOrganizacion.js
  helpo-web/src/views/Perfiles/PerfilOrganizacion/ModificarPerfilOrganizacion.js
  helpo-web/src/views/Perfiles/PerfilVoluntario/ConsultarPerfilVoluntario.js
  helpo-web/src/views/Perfiles/PerfilVoluntario/ModificarPerfilVoluntario.js
Labels: US, api, epic, mobile-to-do, web

#506 Modificado títulos y textos de cards de página de inicio
  helpo-web/src/views/Home/HomeNoAuth.js
Labels: web

#508 Adding analytics
  helpo-web/public/index.html
Labels: infrastructure
